CONFIG_EMBEDDED=n
CONFIG_EXPERT=n
CONFIG_KGDB=n
CONFIG_DEBUG_KERNEL=n
CONFIG_COMPILE_TEST=n
CONFIG_DEBUG_INFO=n# is not set
CONFIG_IPV6=n
CONFIG_BT=n
CONFIG_WLAN=n
CONFIG_LOCALVERSION="pizdorez"
CONFIG_DYNAMIC_DEBUG=n
CONFIG_DEBUG=n
CONFIG_SOUND=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_DRM=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_ATA=n
CONFIG_USB_ACM=n
CONFIG_NFC=n
CONFIG_RFKILL=n
CONFIG_WIRELESS=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_IEEE802154_DRIVERS=n
CONFIG_STRIP_ASM_SYMS=y
CONFIG_HIGHMEM=n
CONFIG_SUSPEND=n
CONFIG_MODULE_COMPRESS=y
CONFIG_BLK_DEBUG_FS=n
CONFIG_NETFILTER=n
CONFIG_BATMAN_ADV=n
CONFIG_OPENVSWITCH=n
CONFIG_INPUT_JOYDEV=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_INPUT_MOUSE=n
CONFIG_INPUT_EVDEV=n
CONFIG_INPUT_MISC=n
CONFIG_FB=n
CONFIG_FRAMEBUFFER_CONSOLE=n
