CONFIG_EMBEDDED=y
CONFIG_NAMESPACES=n
CONFIG_EXPERT=y
CONFIG_PRINTK=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_SLUB_DEBUG=n
CONFIG_PROFILING=n
CONFIG_TRIM_UNUSED_KSYMS=y
CONFIG_ARCH_MILBEAUT=n
CONFIG_ARCH_ASPEED=n
CONFIG_KALLSYMS=n
CONFIG_KGDB=n
CONFIG_DEBUG_KERNEL=n
CONFIG_DEBUG_MISC=n
CONFIG_DEBUG_PREEMPT=n
CONFIG_STACKTRACE=n
CONFIG_DEBIG_BUGVERBOSE=n
CONFIG_COMPILE_TEST=n
CONFIG_DEBUG_INFO=n# is not set
CONFIG_IPV6=n
CONFIG_BT=n
CONFIG_WLAN=n
CONFIG_LOCALVERSION="pizdorez"
CONFIG_DYNAMIC_DEBUG=n
CONFIG_DEBUG=n
CONFIG_SOUND=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_DRM=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_ATA=n
CONFIG_USB_ACM=n
CONFIG_NFC=n
CONFIG_RFKILL=n
CONFIG_WIRELESS=n
CONFIG_USB_NET_DRIVERS=n
CONFIG_IEEE802154=n
CONFIG_DCB=n
CONFIG_BRIDGE_IGMP_SNOOPING=n
CONFIG_NET_SWITCHDEV=n
CONFIG_NETWORK_SECMARK=n
CONFIG_IP_MROUTE=n
CONFIG_NET_IPGRE_BROADCAST=n
CONFIG_IP_ADVANCED_ROUTER=n
CONFIG_TCP_CONG_ADVANCED=n
CONFIG_NET_FOU_IP_TUNNELS=n
CONFIG_CGROUPS=n
CONFIG_HWMON=n
CONFIG_USB_HID=n
CONFIG_HID_GENERIC=n
CONFIG_USB_ISP1760=n
CONFIG_USB_CHIPIDEA=n
CONFIG_IEEE802154_DRIVERS=n
CONFIG_STRIP_ASM_SYMS=y
CONFIG_HIGHMEM=n
CONFIG_SUSPEND=n
CONFIG_MODULE_COMPRESS=y
CONFIG_BLK_DEBUG_FS=n
CONFIG_NETFILTER=n
CONFIG_BATMAN_ADV=n
CONFIG_OPENVSWITCH=n
CONFIG_INPUT_JOYDEV=n
CONFIG_INPUT_KEYBOARD=n
CONFIG_INPUT_MOUSE=n
CONFIG_INPUT_EVDEV=n
CONFIG_INPUT_MISC=n
CONFIG_FB=n
CONFIG_FRAMEBUFFER_CONSOLE=n
CONFIG_NET_CORE=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_NET_DSA=n
CONFIG_NET_VENDOR_FARADAY=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_STMMAC_PLATFORM=y
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_NET_VENDOR_I825XX=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_NET_SCHED=n
CONFIG_USB_GADGET=n
CONFIG_USB_CHIPDEA=n
CONFIG_USBIP_CORE=n
CONFIG_INPUT_MATRIXKMAP=n
CONFIG_SPI_XILINX=n
CONFIG_MEDIA_CEC_SUPPORT=n
CONFIG_IMX_IPUV3_CORE=n
CONFIG_VHOST_MENU=n
CONFIG_IIO=n
CONFIG_PWM=n
CONFIG_SYSV_FS=n
CONFIG_FUSE_FS=n
CONFIG_KEYS=n
CONFIG_SECURITYFS=n
CONFIG_SAMPLES=n
CONFIG_FTRACE=n
CONFIG_DEBUG_FS=n
CONFIG_SWAP=n
CONFIG_CHECKPOINT_RESTORE=n
CONFIG_MQ_IOSCHED_KYBER=n
CONFIG_VLAN_8021Q=n
CONFIG_MISC_FILESYSTEMS=n

