CONFIG_EMBEDDED=n
CONFIG_EXPERT=n
CONFIG_KGDB=n
CONFIG_DEBUG_KERNEL=n
CONFIG_COMPILE_TEST=n
CONFIG_DEBUG_INFO=n# is not set
CONFIG_IPV6=n
CONFIG_BT=n
CONFIG_WLAN=n
CONFIG_LOCALVERSION="pizdorez"
CONFIG_DYNAMIC_DEBUG=n
CONFIG_DEBUG=n
CONFIG_SOUND=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_DRM=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=n
